# Port where the server will run
PORT=3000

# Database configuration
DATABASEPORT=3306
DATABASEUSER=DBUser
DATABASEPASSWORD=12345
DATABASENAME=sabor_companhia

# JWT secret key
JWT_SECRET=JWT_Key

# Credentials for the master user (first administrator)
MasterUser=MasterUser@email.com
MasterPassword=SenhaSuperForte